# ========================
# Config. App.
# ========================
APP_ENV=development
APP_DEBUG=true

# ========================
# Base de données
# ========================
DB_HOST=db
DB_PORT=3306
DB_NAME=rapidnote
DB_USER=root
DB_PASSWORD=your_db_password

# ========================
# Ports Docker
# ========================
APP_PORT=8000
PHPMYADMIN_PORT=8080

# ========================
# CI / CD (GitHub Actions)
# ========================
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_mail_password

DOCKER_USERNAME=your_dockerhub_username
DOCKER_PASSWORD=your_dockerhub_password